<% breadcrumb :coffee_show, @coffee %>

<h3><%= @coffee.producing_area %>産のコーヒー豆</h3>
<%= @coffees_count %>件見つかりました

<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <%= render 'coffee' , { coffee: @coffee, articles: @articles, stores: @stores } %> 
      </div>
    </div>
  </div>
</div>