<h1>Coffees#show</h1>
<p>Find me in app/views/coffees/show.html.erb</p>

<h1>ここは <%= @coffee.id %>で、<%= @coffee.producing_area %> の該当ページです</h1>
<%= @coffee.producing_area %>

<% content_for(:title, t('.title')) %>
<div class="container pt-3">
   

   <!-- 掲示板一覧 -->
   <div class="row">
     <div class="col-12">
       <div class="row">
          <%= render 'coffee' , { coffee: @coffee, articles: @articles, stores: @stores } %> 
       </div>
     </div>
   </div>
 </div>