<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Cold Brew/Crew</h1>
    <h3> エリアから探す</h3>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">渋谷</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">新宿</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">池袋</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">表参道</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">代官山</h4>
        </div>
      </a>
    </h3>
    <h3> 特徴から探す</h3>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">コーヒースタンド</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">テラス席あり</h4>
        </div>
      </a>
      <a href= "#">
        <div class="col-md-4">
          <h4 class ="col-md-12">喫煙可</h4>
         </div>
      </a>
    </h3>
  </div>
</div>

    
    