<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <a class="navbar-brand" href="/">
      <img src="logo.png" />
    </a>
    
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= search_form_for @search_store, url: stores_path do |f| %>
      <dt><%= f.text_field :name_cont ,placeholder: '検索するテキストを入力...' %></dt>
      <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to (t 'defaults.login'), login_path ,class: 'nav-link' %>
        </li>
      </ul>
    </div>
        </li>
      </ul>
    </div>
  </nav>
</header>