<footer id='footer' class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="inline-block">
        <span class="right2">利用規約</span>
        <span class="right2">プライバシーポリシー</span>
        <span class="right2">お問い合わせ</span>
      </div>
    </div>
  </div>
</footer>