<footer id='footer' class="footer" style="height:50px; background-color: #dee2e6;" >
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <%= link_to '利用規約', page_path('user_policy'),class: 'link-footer' %>
        <%= link_to 'プライバシーポリシー', page_path('privacy_policy'),class: 'link-footer' %>
        <%= link_to 'お問い合わせ', page_path('inquiry'),class: 'link-footer' %>
      </div>
      
    </div>
    <div class="text-center">
      <small class='link-footer'>&copy; 2022 ColdBrew/Crew All Rights Reserved.</small>
    </div>
  </div>
</footer>