<div class="col-12 basic-box m-policy">
  <h1 class="m-policy__title">お問い合わせ</h1>
  <div class="m-policy__body-container">
    <p class="m-policy__body">ColdBrew/Crew をご利用頂きありがとうございます。</p>
    <p class="m-policy__body">本サービス内において、ご意見, ご要望, バグ報告等ございましたら下記TwitterアカウントのDMにてご報告頂けますと幸いです。</p>
    <div class="m-policy__image-container">
      <img class="m-policy__image" src="">
    </div>
    <div class="m-policy__btn-container">
      <a target="_blank" rel="noopener noreferrer" class="btn-basic" href="https://twitter.com/ara429q">@ara429q</a>
    </div>
  </div>
</div>