<body>
    <div id="__nuxt"><!----><div id="__layout"><div data-app="true" class="v-application v-application--is-ltr theme--light" id="app"><div class="v-application--wrap"><main class="v-main" data-booted="true" style="padding: 0px;"><div class="v-main__wrap"><div data-v-52a9a78b=""><section data-v-699fdab7="" data-v-52a9a78b="" id="terms" class="py-3"><h1 data-v-90cc9602="" data-v-699fdab7="" class="headline font-weight-bold text-center my-12">
  プライバシーポリシー
</h1> <div data-v-699fdab7="" class="contents-wrapper"><!----> <div data-v-2d8dd2d8="" data-v-699fdab7=""><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  お客様から取得する情報
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><div data-v-16d0e6ec="" data-v-2d8dd2d8="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">当社は、お客様から以下の情報を取得します。</div></div> <!----></div> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <!----> <div data-v-2d8dd2d8="" style="margin-left: 30px;"><ul data-v-4eef0160="" data-v-2d8dd2d8="" class="pl-4"><li data-v-4eef0160="" class="py-1">
    氏名(ニックネームやペンネームも含む)
  </li><li data-v-4eef0160="" class="py-1">
    年齢または生年月日
  </li><li data-v-4eef0160="" class="py-1">
    性別
  </li><li data-v-4eef0160="" class="py-1">
    メールアドレス
  </li><li data-v-4eef0160="" class="py-1">
    写真や動画
  </li><li data-v-4eef0160="" class="py-1">
    お客様の位置情報
  </li></ul> <!----> <!----></div> <div data-v-2d8dd2d8=""></div></div></div></div></div></div><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  お客様の情報を利用する目的
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><div data-v-16d0e6ec="" data-v-2d8dd2d8="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">当社は、お客様から取得した情報を、以下の目的のために利用します。</div></div> <!----></div> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <!----> <div data-v-2d8dd2d8="" style="margin-left: 30px;"><ul data-v-4eef0160="" data-v-2d8dd2d8="" class="pl-4"><li data-v-4eef0160="" class="py-1">
    当社サービスに関する登録の受付、お客様の本人確認、認証のため
  </li><li data-v-4eef0160="" class="py-1">
    お客様の当社サービスの利用履歴を管理するため
  </li><li data-v-4eef0160="" class="py-1">
    当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため 
  </li><li data-v-4eef0160="" class="py-1">
    当社のサービスに関するご案内をするため
  </li><li data-v-4eef0160="" class="py-1">
    お客様からのお問い合わせに対応するため
  </li><li data-v-4eef0160="" class="py-1">
    当社の規約や法令に違反する行為に対応するため
  </li><li data-v-4eef0160="" class="py-1">
    当社サービスの変更、提供中止、終了、契約解除をご連絡するため
  </li><li data-v-4eef0160="" class="py-1">
    当社規約の変更等を通知するため
  </li><li data-v-4eef0160="" class="py-1">
    以上の他、当社サービスの提供、維持、保護及び改善のため
  </li></ul> <!----> <!----></div> <div data-v-2d8dd2d8=""></div></div></div></div></div></div><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  安全管理のために講じた措置
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><div data-v-16d0e6ec="" data-v-2d8dd2d8="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</div></div> <!----></div> <!----> <div data-v-2d8dd2d8=""></div></div></div></div><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  第三者提供
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><div data-v-16d0e6ec="" data-v-2d8dd2d8="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
但し、次の場合は除きます。</div></div> <!----></div> <!----> <div data-v-2d8dd2d8=""></div></div><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><!----> <ul data-v-4eef0160="" data-v-2d8dd2d8="" class="pl-4"><li data-v-4eef0160="" class="py-1">
    個人データの取扱いを外部に委託する場合
  </li><li data-v-4eef0160="" class="py-1">
    当社や当社サービスが買収された場合
  </li><li data-v-4eef0160="" class="py-1">
    事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）
  </li><li data-v-4eef0160="" class="py-1">
    その他、法律によって合法的に第三者提供が許されている場合
  </li></ul></div> <!----> <div data-v-2d8dd2d8=""></div></div></div></div><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  アクセス解析ツール
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <div data-v-2d8dd2d8="" style="margin-left: 14px;"><div data-v-16d0e6ec="" data-v-2d8dd2d8="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。
https://marketingplatform.google.com/about/analytics/terms/jp/</div></div> <!----></div> <!----> <div data-v-2d8dd2d8=""></div></div></div></div><div data-v-2d8dd2d8=""><!----></div><div data-v-2d8dd2d8=""><!----></div><div data-v-2d8dd2d8=""><h2 data-v-29fda5c2="" data-v-2d8dd2d8="" class="font-weight-bold subtitle-1">
  プライバシーポリシーの変更
</h2> <!----> <!----> <div data-v-2d8dd2d8=""><div data-v-2d8dd2d8=""><!----> <!----> <div data-v-2d8dd2d8="" style="margin-left: 20px;"><!----> <!----> <!----></div> <div data-v-2d8dd2d8=""></div></div></div></div></div> <!----> <div data-v-16d0e6ec="" data-v-699fdab7="" class="word-wrap mb-2" style="white-space: pre-wrap;"><div data-v-16d0e6ec="">2022年09月18日 制定</div></div> </div> <a data-v-699fdab7="" href="/" class="text-decoration-none nuxt-link-active"><div data-v-699fdab7="" class="pl-4 lp-speed v-speed-dial v-speed-dial--bottom v-speed-dial--fixed v-speed-dial--direction-top"><button data-v-699fdab7="" type="button" class="v-btn v-btn--is-elevated v-btn--has-bg theme--dark v-size--small teal"><span class="v-btn__content">戻る</span></button><div class="v-speed-dial__list"></div></div></a></section></div></div></main></div></div></div></div><script>window.__NUXT__={config:{googleAnalytics:{id:"UA-176123465-2"},_app:{basePath:"/",assetsPath:"/_nuxt/",cdnURL:null}}}</script>
  <script src="/_nuxt/dfe318f.js"></script><script src="/_nuxt/22c5f13.js"></script><script src="/_nuxt/9615f2d.js"></script><script src="/_nuxt/a1556a3.js"></script>

<iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/widget_iframe.c4bdc17e77719578b594d5555bee90db.html?origin=https%3A%2F%2Fkiyac.app" title="Twitter settings iframe" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe><iframe name="__privateStripeMetricsController1490" frameborder="0" allowtransparency="true" scrolling="no" allow="payment *" src="https://js.stripe.com/v3/m-outer-34afacfd6ab0f96c9ef6991f605f5d2c.html#url=https%3A%2F%2Fkiyac.app%2Fprivacypolicy%2FhAvTwv7i4q0QjMmyvIv6&amp;title=KIYAC%20%7C%20%E3%82%8F%E3%81%9A%E3%81%8B%E6%95%B0%E5%88%86%E3%81%A7%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC%E3%82%84%E5%88%A9%E7%94%A8%E8%A6%8F%E7%B4%84%E3%82%92%E7%B0%A1%E5%8D%98%E4%BD%9C%E6%88%90&amp;referrer=&amp;muid=9cd9e180-df84-4dd5-9148-1a85501b90b656de6e&amp;sid=NA&amp;version=6&amp;preview=false" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe><iframe owner="archetype" title="archetype" style="display: none; visibility: hidden;"></iframe></body>