<% breadcrumb :area_show, @area %>
<h3><%= @area.name %> のコーヒーショップ</h3>
<%= @areas_count %>件見つかりました

<% content_for(:title, "#{@area.name}から探す") %>
<div class="container pt-3">
   

   <!-- 掲示板一覧 -->
   <div class="row">
     <div class="col-12">
       <div class="row">
          <%= render 'area' , { area: @area, stores: @stores } %> 
       </div>
       <%= paginate @stores %>
     </div>
   </div>
 </div>
